@import "../../theme";

.item {
  width: 100%;
  &:nth-child(even) {
    background-color: var(--item-second-bg-color);
  }
}
.name {
  font-size: 1.5rem;
}
.discription {
  width: 100%;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
